<div class="  row">
    <div class=" center container white-text">
   <h1>

        COVID-19 ESTIMATOR
   </h1>
</div>
<div class="container row">
</div>
<div class="row">
    <div class="col center l3 m6 s6">
<div class=" container white-text center l2 margin s18">
    IMPACT ESTIMATION
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white container center  margin s8">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
    </div>
    <div class="col l3 m6 s6">
        <div class=" container white-text center l2 margin s18">
    SEVERE IMPACT ESTIMATION
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white container center  margin s8">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
<div class="white  container center l2 margin s18">
    <div class="h5 ">
        <div class="center">
            100        </div>
        <div class="center">
        currently infected

        </div>
        </div>
    
</div>
    </div>
    <div class="col l5 m6 s8">
            <div class="col l8">
                 <form action=""  method="post">
            <div class="card purpule">
                <div class="card-content purple">
                    <div class= " white smallmargin">
                        <input type="text" placeholder="average population" name="" id="">
                       </div>
                        <br>
                    <div class= " white smallmargin">
                                         
                        <input type="text" placeholder="average population" name="" id="">
                        </div> <br>
                    <div class= " white smallmargin">
                                            
                        <input type="text" placeholder="average population" name="" id="">
                        </div> <br>
                          <div class= "  input-field ">
                              efe
                            <select multiple>
                                <option value="" disabled selected>choose period</optiond>
                                <option value="1">ghana</optiond>
                                <option value="2">cape verde</optiond>
                                <option value="3">togo</optiond>
                            </select>                                            
                        </div> <br>
                    <div class= " white smallmargin">
                                          
                        <input type="text" placeholder="average population" name="" id="">
                        </div> <br>

                        <div class="center">
                            <button type="submit" class="btn purple waves-effects">
                                        send
                            </button>
                            
                            </div>

                </div>
             </div>
        </form>
            </div>
               
           
        
    </div>


</div>
</div>

<style>
   .margin{
margin-bottom: 78px;
max-width: 200px;
    }
    .smallmargin{
margin-bottom: 20px;


    }
</style>